@tailwind base;
@tailwind components;
@tailwind utilities;

/* HOME PAGE */

.background-image {
  opacity: 0.25;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.home-page {
  width: 100%;
  overflow: auto;
}

/* FOOTER */

.tmdb-attribution {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.tmdb-attribution-scroll {
  width: 100%;
  position: relative;
  bottom: 0;
}

.tmdb-attribution img {
  position: relative;
  display: block;
  float: right;
  height: 45px;
}

.tmdb-attribution-scroll img {
  position: relative;
  display: block;
  float: right;
  height: 45px;
}